<!--<div class="container h-50 d-flex justify-content-center align-items-center" >-->
  <div class="d-flex justify-content-center flex-wrap mt-5 pt-5">
    <div class="display-4 font-weight-bold pb-5 text-center pt-5">STOCK SEARCH</div>
    <div class="w-100"></div>
    <div id="searchComponent" class="rounded-pill pt-2 pb-1 px-2">
      <input type="text"
             aria-label="Number"
             placeholder="Enter stock name"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto" id="searchinput" class="rounded-pill " size="25">
      <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="#6F4FFB" xmlns="http://www.w3.org/2000/svg" (click)="searchDetail()" >
        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
      </svg>
      <!-- #enddocregion input -->
      <!-- #docregion mat-autocomplete -->
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option  *ngFor="let option of filterKeyword | async" [value]="option.ticker">
          {{option.ticker}} | {{option.name}}
        </mat-option>
        <mat-option *ngIf="loadingSearch" style="height: 8em">
          <div class="d-flex justify-content-center align-items-center"  >
            <mat-spinner color="#6F4FFB" diameter="70"></mat-spinner>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>
<!--</div>-->
