<div *ngIf="!loaded && hasdetail">
  <div class="container  d-flex justify-content-center align-items-center" >
    <mat-spinner color="#6F4FFB"></mat-spinner>
  </div>
</div>


<!--<div *ngIf="hasdetail && dailyData && marketData && description" class="container">-->
<div *ngIf="loaded" class="container">
  <ngb-alert *ngIf="!closeMessage && likeit" type="success"  class="text-center" (close)="closeMessage = true">
    {{description.ticker}} added to Watchlist.
  </ngb-alert>
  <ngb-alert *ngIf="!closeMessage && !likeit"  type="danger"  class="text-center" (close)="closeMessage = true">
    {{description.ticker}} removed from Watchlist.
  </ngb-alert>
  <ngb-alert *ngIf="buyok" type="success"  class="text-center" (close)="buyok = false">
    {{description.ticker}} bought success.
  </ngb-alert>
  <ngb-alert *ngIf="buyfailure" type="danger"  class="text-center" (close)="buyfailure = false">
    {{description.ticker}} bought failure(check the number).
  </ngb-alert>
  <div class="row">
    <div class="col h2" >{{description.ticker}}
      <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-star align-text-top h-50" fill="currentColor" xmlns="http://www.w3.org/2000/svg" *ngIf="!likeit" (click)="likeStock()">
        <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
      </svg>
      <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-star-fill align-text-top h-50" fill="#F3D825" xmlns="http://www.w3.org/2000/svg" *ngIf="likeit" (click)="likeStock()">
        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
      </svg>
    </div>
    <div class="col h2 text-right" style="color:{{marketData.color}}">{{marketData.last}}</div>
  </div>
  <div class="row">
    <div class="col h4" style="color: #6A737F">{{description.name}}</div>
    <div class="col h4 text-right"style="color : {{marketData.color}}">
      <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-caret-up-fill" fill="#008000" xmlns="http://www.w3.org/2000/svg" *ngIf="marketData.up">
        <path d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
      </svg>
      <svg width="0.5em" height="0.5em" viewBox="0 0 16 16" class="bi bi-caret-down-fill" fill="#ff0000" xmlns="http://www.w3.org/2000/svg" *ngIf="marketData.down">
        <path d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
      </svg>
      {{marketData.change}}   ({{marketData.changePercent}}%)</div>
  </div>
  <div class="row">
    <div class="col ">{{description.exchangeCode}}</div>
    <div class="col text-right">{{currentTime | date:"yyyy-MM-dd HH:mm:ss"}}</div>
  </div>
  <div class="row">
    <div class="col"> <button class="btn btn-success mb-2 mr-2" (click)="openBackDropCustomClass(content)">Buy</button></div>
  </div>
  <div class="row">
    <div class="col text-center" *ngIf="market"><span style="background-color:rgba(0,128,0,0.2)">market open</span></div>
    <div class="col text-center " *ngIf="!market"><span style="background-color:rgba(255,0,0,0.2)">market close on {{openTime | date:"yyyy-MM-dd HH:mm:ss"}}</span></div>
  </div>
  <mat-tab-group mat-stretch-tabs class="my-5">
    <mat-tab label="Summary">
      <ng-template matTabContent>
      <div class="container ">
        <div class="row row-cols-1 row-cols-sm-2">
          <div class="col my-5">
            <div class="row mx-sm-5">
              <div class="col"><span style="width: 5.5em ;display: inline-block">High Price: </span>{{marketData.high || '-' }}</div>
              <div class="col"*ngIf="market"><span style="width: 5.5em ;display: inline-block">Mid Price: </span>{{marketData.mid || '-'}}</div>
            </div>
            <div class="row mx-sm-5">
              <div class="col"><span style="width: 5.5em;display: inline-block">Low Price: </span>{{marketData.low || '-' }}</div>
              <div class="col"*ngIf="market"><span style="width: 5.5em;display: inline-block">Ask Price: </span>{{marketData.askPrice || '-'}}</div>
            </div>
            <div class="row mx-sm-5">
              <div class="col"><span style="width: 5.5em;display: inline-block">Open Price: </span>{{marketData.open || '-'}}</div>
              <div class="col" *ngIf="market"><span style="width: 5.5em;display: inline-block">Ask Price: </span>{{marketData.askSize || '-'}}</div>
            </div>
            <div class="row mx-sm-5">
              <div class="col"><span style="width: 5.5em;display: inline-block">Prev Close: </span>{{marketData.prevClose || '-'}}</div>
              <div class="col"*ngIf="market"><span style="width: 5.5em;display: inline-block">Bid Price: </span>{{marketData.bidPrice || '-'}}</div>
            </div>
            <div class="row mx-sm-5">
              <div class="col"><span style="width: 5.5em;display: inline-block">Volume: </span>{{marketData.volume || '-'}}</div>
              <div class="col"*ngIf="market"><span style="width: 5.5em;display: inline-block">Bid Size: </span>{{marketData.bidSize || '-'}}</div>
            </div>
            <div class="row h5 my-5">
              <div class="col text-center">Company's Description</div>
            </div>
            <div class="row my-1">Start Date: {{description.startDate}}</div>
            <div class="row">{{description.description}}</div>
          </div>
          <div class="col my-5">
            <highcharts-chart
              [Highcharts]="Highcharts"
              [options]="chartOptions"
              constructorType="stockChart"
              style="width: 100%; height: 400px; display: block;"
            ></highcharts-chart>
          </div>
        </div>
      </div>
      </ng-template>
    </mat-tab>
    <mat-tab label="Top News">
      <<ng-template matTabContent>
      <div class="container">
        <div class="row my-3 row-cols-sm-2 row-cols-1" >
          <div class="col my-2 border p-2" *ngFor="let news of thenewsData ; let i=index" style="background-color: #F6F6F6">
            <div class="row row-cols-sm-2 row-cols-1 " (click)="openShare(shareContente,i)" >
              <div class="col"><img src="{{news.urlToImage}}" class="w-100"></div>
              <div class="col"><span>{{news.title}}</span></div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    </mat-tab>
    <mat-tab label="Charts">
      <ng-template matTabContent>
        <highcharts-chart *ngIf="historyOptions"
                          [Highcharts]="HighchartsHistory"
                          [options]="historyOptions"
                          constructorType="stockChart"
                          style="width: 100%; height: 600px; display: block;"
        ></highcharts-chart>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title">{{description.ticker}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Current Price: {{marketData.last}}</p>
      Quantity  <input type="number" id="quantity" name="quantity" size="20" class="form-control"
                     [formControl]="myControl" min="0" style="width:13em; display:inline-block">
    </div>
    <div class="modal-footer justify-content-between">
      <span>Total: {{total}}</span>
      <button type="button" class="btn btn-success" (click)="buyStocks(); modal.close('Close click')">Buy</button>
    </div>
  </ng-template>

  <ng-template #shareContente let-modal>
    <div class="modal-header">
      <div>
        <h1 class="modal-title">{{thenewsData[currentX].title.split(" ")[0]}}</h1>
        <p style="color: #6A737F">{{publishdate| date:'MMMM dd,yyyy'}}</p>
      </div>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p class="h6">{{thenewsData[currentX].title}}</p>
      <p>{{thenewsData[currentX].description}}</p>
      <p style="color: #6A737F">For more details click <a href="{{thenewsData[currentX].url}}" target="_Blank">here</a></p>
    </div>
    <div class="modal-footer justify-content-start flex-wrap">
      <div>Share</div>
      <div class="w-100"></div>
      <div><a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text={{thenewsData[currentX].title}}&url={{thenewsData[currentX].url}}"  target="_blank">
        <span style="font-size: 3em; color: deepskyblue;">
          <i class="fab fa-twitter"></i>
        </span>
      </a></div>
      <div>
        <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{thenewsData[currentX].url}};src=sdkpreparse">
          <span style="font-size: 3em; color: #0000ff">
          <i class="fab fa-facebook-square"></i>
        </span>
        </a>
      </div>
    </div>
  </ng-template>
</div>

<div class="container" *ngIf="!hasdetail">
    <ngb-alert type="danger" [dismissible]="false" class="text-center" >
        No result found. Please enter valid Ticker
    </ngb-alert>
</div>

<!--<ng-template class="container" #loading>-->
<!--  -->
<!--</ng-template>-->


<div class="container" *ngIf="!buylist">
  <ngb-alert type="warning" [dismissible]="false" class="text-center" >
    Currently you don't have any stock in your watchlist.
  </ngb-alert>
</div>

